<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Exer Home</title>
<!--


-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-training-studio.css">
    <script src="static/mapdata.js"></script>
    <script src="static/countrymap.js"></script>

    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#top" class="logo">INDIAN<em> CRIME </em>ANALYTICS</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">SERVICES</a></li>
                            <li class="scroll-to-section"><a href="#schedule">ABOUT</a></li>
                            <li class="scroll-to-section"><a href="#trainers">MAP</a></li>
                            <li class="main-button"><a href="https://github.com/anirudh-walia/EXER-FITNESS-APPLICATION">GitHub Repository  <i style="font-size:20px" class="fa">&#xf09b;</i></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="static/vecteezy_biometric-from-scanner-analyzes-approve-finger-print-left-and-denied-in-right-by-anonymous-human-and-has-an-alpha-matte-at-the-end-of-clip_2014076.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>OUR <em>VISION</em></h2>
                <h6>ICA aims to facilitate the deployment of policing and law enforcement strategies by providing significant insights observed in the past data records of crime in India.
Our services, study the trends and demonstrate predictions and visualizations that circumscribe certain identified aspects of forecasting crime with the ability to drive the intricate levels of future crime prevention, control and management.</h6><br>
                <div class="main-button scroll-to-section">
                    <a href="#features">BEGIN YOUR JOURNEY</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>WHAT IS ICA<em></em></h2>
                        <img src="static/assets/images/line-dec.png" alt="waves">
                        <p>Analyzing crime and its patterns for predictions and visualizations makes certain observations - supportive or contradictive - very prominent. These observations or facts could be related to the data, algorithms or statistics, that clearly state the viability of both the modules, giving rise to a number of intrinsic changes. This module displays the highlights of these observations achieved during crime analysis.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="static/assets/images/icons8-critical-thinking-96 (1).png" alt="First One">
                            </div>
                            <div class="right-content">
                                <h4>PREDICTIONS</h4>
                                <p>The crime sectors covered under this module includes crime against women, children, Indian Penal Code crimes and Special & Local Law crimes.</p>
                                <!--<a href="#" class="text-button">Discover More</a>-->
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="static/assets/images/icons8-critical-thinking-96 (1).png">
                            </div>
                            <div class="right-content">
                                <h4>VISUALIZATIONS</h4>
                                <p>Data visualization technology can bring benefits to almost everyone within the police force. </p>
                                <!--<a href="#" class="text-button">Discover More</a>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action" style="background-image: url('static/assets/images/Crime-movie-copy.jpg');">
        <div class="container" >
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2><em>PREDICTIONS</em></h2>
                        <p>This service uses algorithms to predict the patterns in a number of crime cases for the forthcoming years. The crime sectors covered under this module includes crime against women, children, Indian Penal Code crimes and Special & Local Law crimes. On selecting a particular crime sector, a graphical demonstration of the crime-type, year and state of the user's choice shall be displayed, giving an overview of the areas that are prone to specific types of crimes and the behaviour of such crimes over the years to come.</p>

                        <div class="main-button scroll-to-section">
                         <a href="pred.html"><img style="float: left;" src="/static/images/predictiveAnalytics.png" class="imgPred" height= 300/></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2><em>VISUALIZATIONS</em></h2>
                        <img src="static/assets/images/line-dec.png" alt="">
                        <p>Data visualization technology can bring benefits to almost everyone within the police force. The more police are able to see the big picture, the higher the likelihood of crime getting solved quickly.
                The public increasingly expects this kind of approach. This module showcases data visuals using illustrative animations to depict the patterns of crime in all the states of India for the past 15 years. Demographic factors such as literacy rates & crime per one lakh people have been considered to give effective definition to the visuals per state.</p>
                        <BR>
                     <div class="main-button scroll-to-section">
                <a href="vis.html"><img src="/static/images/viz2.gif" class="imgViz" height= 250/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->

    <section class="section" id="schedule"  style="background-image: url('static/assets/images/23232e.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2><em>ABOUT</em></h2>
                        <img src="static/assets/images/line-dec.png" alt="">
                        <p>In India, there has been a drastic pattern of crime observed in the past few years giving rise to a threat to the security of common man. Considering this perilous situation, main aim was to study these crime patterns and realise the changes in the overall crime ratio based on the demographic/population ratios which shall ease the process of reaching the future crime-cases prediction. Along with this, predictions are made on the maximum criminal activities that need to be controlled and the amount of security measures that need to be taken to decelerate/curb the occurrence of any mild to treacherous level criminal activities. This website depicts the overall scenerio of crime pattern analysis done with the help of the most trending feild of computer science namely Machine Learning. It includes the pictorial study of crime patterns using ML algorithm,
                            for visualizations and predictions based on the data acquired from the Indian Government.</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>CRIME <em>MAP</em></h2>
                        <img src="static/assets/images/line-dec.png" alt="">
                        <p>Visualization of Crimes using a map</p>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left:20px">
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                      <div class="card-header">
                        ABOUT THE MAP
                      </div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                          <p>Hover over the states to know some basic information about them.</p>
                          <footer class="blockquote-footer">CLICK ON THE STATE TO EXPAND <cite title="Source Title">&<BR> -> CLICK AGAIN FOR OFFICIAL WEBSITE OF THAT STATE</cite></footer>
                        </blockquote>
                      </div>
                    </div>
                    </div>
                    <div class="col-8">
                     <div id="map" >
                      </div>
                    </div>

                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->

    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="mapp">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20253.203358752155!2d76.57601071597566!3d30.76049179594847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ffb140bd63e07%3A0x68591e334d17a988!2sChandigarh%20University!5e0!3m2!1sen!2sin!4v1652347298537!5m2!1sen!2sin" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2022 EXER APPLICATION

                    - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a><br>

                Distributed by <a rel="nofollow" href="https://themewagon.com" class="tm-text-link" target="_blank">ThemeWagon</a>

                </p>

                    <!-- You shall support us a little via PayPal to info@templatemo.com -->

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script>
    <script src="static/assets/js/mixitup.js"></script>
    <script src="static/assets/js/accordions.js"></script>

    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>

  </body>
</html>