<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Exer Home</title>
<!--


-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-training-studio.css">
    <script src="static/mapdata.js"></script>
    <script src="static/countrymap.js"></script>
              <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/accordion.css">
        <link rel="stylesheet" href="/static/animate.css">

    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#top" class="logo">INDIAN<em> CRIME </em>ANALYTICS</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">SERVICES</a></li>
                            <li class="scroll-to-section"><a href="#schedule">ABOUT</a></li>
                            <li class="scroll-to-section"><a href="#trainers">MAP</a></li>
                            <li class="main-button"><a href="https://github.com/anirudh-walia/EXER-FITNESS-APPLICATION">GitHub Repository  <i style="font-size:20px" class="fa">&#xf09b;</i></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="static/vecteezy_biometric-from-scanner-analyzes-approve-finger-print-left-and-denied-in-right-by-anonymous-human-and-has-an-alpha-matte-at-the-end-of-clip_2014076.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>CRIME <em>VISUALIZATION</em></h2>
                <h6>Data visualization technology can bring benefits to almost everyone within the police force. The more police are able to see the big picture, the higher the likelihood of crime getting solved quickly. The public increasingly expects this kind of approach. This module showcases data visuals using illustrative animations to depict the patterns of crime in all the states of India for the past 15 years. Demographic factors such as literacy rates & crime per one lakh people have been considered to give effective definition to the visuals per state.</h6><br>
                <div class="main-button scroll-to-section">
                </div>
            </div>
        </div>
    </div>
<section id="section12">
    <center>
            <h1>VISUALIZATIONS</h1>

    <div style="width: 70%;" class="container">

            <a style="margin: 0;" href="womenViz.html">
                <h2>1) State Comparisons For Crime Against Women</h2>
            </a>
            <br>
    </div>
    <div style="width: 70%;" class="container">
            <a href="childrenViz.html">
                <h2>2) State Comparisons For Crime Against Children</h2>
            </a>
            <br>
    </div>
    <div style="width: 70%;" class="container">
            <a href="IPCViz.html">
                <h2>3) State Comparisons For Crime Against Indian Penal Code(IPC)</h2>
            </a>
    </div>
</center>
</section>

    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Contact Us Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2022 EXER APPLICATION

                    - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a><br>

                Distributed by <a rel="nofollow" href="https://themewagon.com" class="tm-text-link" target="_blank">ThemeWagon</a>

                </p>

                    <!-- You shall support us a little via PayPal to info@templatemo.com -->

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script>
    <script src="static/assets/js/mixitup.js"></script>
    <script src="static/assets/js/accordions.js"></script>

    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>

  </body>
</html>